<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852019744450-uad3gfkmqljs0nv1935riavqjdsvqta5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852019744450-uad3gfkmqljs0nv1935riavqjdsvqta5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>852019744450-cqvc9oc0l9gkkn0omqk2dcvmm8htvnnt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCafujefh0VuPzz6iSUnThek437h7r6Vow</string>
	<key>GCM_SENDER_ID</key>
	<string>852019744450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatGptUi</string>
	<key>PROJECT_ID</key>
	<string>push-notification-demo-91b41</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-demo-91b41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852019744450:ios:6e7a1da56ff0dcba81f55b</string>
</dict>
</plist>